#root {
  background-color: #F1F1F1;
}


.navdropdown
 select {
  background-color: white !important;
  font-size: 16px;
}

.searchbutton {
  border-top-right-radius: 4px;    /* 8px */
  border-bottom-right-radius: 4px; /* 8px */

  span {
    margin: 0px !important;
  }
}

.authtxthead{
  font-weight: 700;
  font-size: 16px;
}

.authtextnothead{
  font-size: 12px;
  color: #828282;
  text-align: center;
}

.footer-content{
  color: #002F34A3;
  font-size: 12px;

}

.cardUser{
  border: 1.1px solid #0E040533 !important;
}
.swiper-container {
  position: relative;
  width: 600px;
  height: 400px;
  margin: auto;
}

.swiper-button-prev,
.swiper-button-next {
  color: black;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.swiper-button-prev {
  left: -50px; /* Adjust this value to move the button further outside the image */
}

.swiper-button-next {
  right: -50px; /* Adjust this value to move the button further outside the image */
}

.vertical-line {
  width: 1px; /* Thickness of the vertical line */
  background-color: black; /* Color of the vertical line */
  height: 100%; /* Height of the vertical line */

}


/* Remove Chakra UI default focus and hover styles */
*:focus, *:hover, *:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}




/* Reset specific Chakra UI component styles */
.chakra-input, .chakra-select, .chakra-button {
  outline: none !important;
  box-shadow: none !important;
}

/* Optional: Custom focus styles for accessibility */
.select-sell {
  color: black !important;
  border-color: black !important;

}

.simple-flex{
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1300px) {
  .simple-flex {
    flex-direction: column;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.3s ease-out forwards;
}

/* Webkit browsers like Chrome, Safari */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 24px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: black transparent;
}